.header{
    width: 100%;
    background: mediumpurple;
    height: 150px;
}
.left-section{
    width: 200px;
    float: left;
    height: 400px;
    background: yellow;
}
.right-section{
    width: 1000px;
    float: left;
    height: 400px;
    background: rgb(190, 190, 202);

}
.footer{
    height: 150px;
    width: 100%;
    
    background: rgb(219, 46, 3);
}
.content{
    height: 400px;
}