.outer-box{
    width: 100%;
    height: 500px;
    background-color: mediumblue;
    padding: 10px;
}
.box1{
    width: 40%;
    height: 30%;
    background-color: mediumpurple;
    float: left;
    margin: 10px;
}
.box2{
    width: 40%;
    height: 30%;
    background-color: rgb(16, 4, 39);
    float: left;
    margin: 10px;

}
.box3{
    width: 40%;
    height: 30%;
    background-color: mediumspringgreen;
    float: left;
    margin: 10px;
    

}
.box4{
    width: 40%;
    height: 30%;
    background-color: rgb(196, 199, 5);
    float: left;
    margin: 10px;

}